HOST=0.0.0.0
PORT=3001

NX_DATABASE_MONGO_HOST=localhost:27017
NX_DATABASE_MONGO_USERNAME=string
NX_DATABASE_MONGO_PASSWORD=string
NX_SERVICE_NAME=zma-omnichannel-message
NX_ACCESS_KEY_ID=string
NX_SECRET_ACCESS_KEY=string
NX_ACCOUNT_ID=string
NX_GRPC_URL=localhost:5009

NX_DATABASE_SCYLLA_HOSTS=localhost,127.0.0.1
NX_DATABASE_SCYLLA_PORT=9042
NX_DATABASE_SCYLLA_DATACENTER=string
NX_DATABASE_SCYLLA_KEYSPACE=omnidb

NX_DATABASE_SCYLLA_USERNAME=undefined
NX_DATABASE_SCYLLA_PASSWORD=undefined
NX_NATS_SERVERS=nats://localhost:4222

NX_KAFKA_BROKER=localhost:9092
NX_KAFKA_CLIENT_ID=zma-omnichannel-message
NX_KAFKA_GROUP_ID=zma-message-group

NX_FACEBOOK_PAGE_ACCESS_TOKEN=string

NX_MQTT_BROKER=mqtt://localhost:1883
