NX_SERVICE_NAME=zma-omnichannel-consumer

NX_FACEBOOK_VERIFY_TOKEN=token

NX_KAFKA_BROKER=localhost:9092
NX_KAFKA_CLIENT_ID=zma-omnichannel-consumer
NX_KAFKA_GROUP_ID=zma-consumer-group

HOST=0.0.0.0
PORT=3000

NX_GRPC_URL=localhost:5009
NX_GRPC_CACHE_TTL=0
